.container {
    max-width: 1024px;
    width: 80%;
    margin: 20px auto 0 auto;
}

.post__item {
    display: flex;
    gap: 10px;
    padding: 20px 0 20px 10px;
}

.post__item:nth-child(even) {
    background-color: #ffef96;
}