#root {
    display: flex;
}

h2 {
    color: #3e4444;
}

.header {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #3e4444;
}

.nav__items {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__item a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    width: 120px;
}

.nav__item a.active {
    border-bottom: 3px solid #ffef96;
}

.nav__item a:hover {
    background-color: #34ce34;
}

